*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    margin:0;
    padding: 0;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 a{
     text-decoration: none;
 }
/*styling for contact-container elements*/
.contact-container{
    display: block;
    padding: 10px;
    background-color: rgb(36, 133, 68);
}
.contact-container .contacts{
    display: inline;
    float: left;
}
.contact-container a{
    font-size: 8pt;
}
.contact-container .contacts span{
    margin-right: 10px;
}
.contact-container .contacts i{
    padding-right: 4px;
}
.contact-container .contacts .fa-envelope{
    color: rgb(155, 19, 19);
}
.contact-container .contacts .fa-phone-volume{
    color: rgb(4, 224, 4);
}
.contact-container .social-medias{
    position: relative;
    display: inline;
    float: right;
    right: 20px;
}
.contact-container .social-medias a i{
    padding:0 10px;
}
.contact-container .contacts a{
    font: 14pt serif;
    color: white;
}
.contact-container .contacts a:hover{
    color: rgb(236, 160, 17);
}
.contact-container .social-medias i{
    font-size: 14pt;
    color: white;
}
.contact-container .social-medias i:hover{
    color: rgb(236, 160, 17);
}
/*styling for navigation bar*/
nav{
    display: block;
    position: sticky;
    height: auto;
    background-color: rgba(12,14,17,.4);
    top: 0;
    z-index: 100;
}
nav .wrapper{
    position: relative;
    display: block;
}
nav .wrapper .logo{
    display: inline;
    float: left;
}
nav .wrapper .logo h1{
    color: white;
    font-size: 18pt;
    padding: 0 10px;
}
nav .wrapper .nav-links{
    display: inline;
    float: right;
    padding: 10px;
    padding-right: 0;
}
nav .wrapper .nav-links a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
    font-weight: 500;
    padding: 10px;
}

nav .wrapper .nav-links a:hover{
    color: rgb(60, 197, 106);
    border-bottom: 2px solid ;
    background-color: rgba(12,14,17,.2);
}
/*styling for header*/
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(19,14,37,.8),rgba(19,14,37,.8)),url(../images/image6.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
header .first-banner{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 100%;
}
header .first-banner #logo{
    display: block;
    position: relative;
    width: 65%;
    height: 70%;
    margin: 0 auto;
}
header .scrollDownBtn a{
    position: absolute;
    bottom: 60px;
    left: 45%;
    color: white;
    border: 1px solid;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}
header .scrollDownBtn a:hover{
    color: rgb(50, 160, 68);
}


/* styling for main part*/
main{
    flex: 1 0 auto;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
}
.top-banner{
    display: flex;
    padding: 4px 20px;
}
.top-banner img{
    width: 50%;
    height: 400px;
}
.top-banner .context{
    width: 50%;
    padding: 20px;
}
.top-banner .context h1{
    color: rgb(50, 160, 68);
    font-size: 3em;
}
.top-banner .context span{
    color: rgb(102, 82, 82);
    font-weight: 400;
}
.top-banner .context p{
    margin: 4px;
    line-height: 1.5;
}
.top-banner .context ul{
    position: relative;
    margin-top: 20px;

}
.top-banner .context ul::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    width: 1px;
    height: 100%;
    background-color: grey;
    z-index: 1;
}
.top-banner .context ul li{
    position: relative;
    list-style-type: none;
    padding-left: 30px;
}
.top-banner .context ul li::before{
    content: '';
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: rgb(206, 146, 36);
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50%;
    
}
.top-banner .context ul li h4{
    display: inline;
    padding: 8px;
    color: rgb(206, 146, 36);
}
.services{
    width: 90%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 4px 20px;
}
.container h2{
    color: rgb(36, 133, 68);
    position: relative;
    text-align: center;
}

.services .block{
    position: relative;
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 10px;
    box-shadow: 2px 2px 12px grey;
    float: left;
}
.services .block img{
    width: 100%;
    height: 300px;
}
.services .block h4{
    color: black;
    
}
.explore-btn{
    display: inline-block;
    margin: 6px;
    padding: 10px;
    background: transparent;
    color: rgb(36, 133, 68);
    border: 1px solid ;
    border-radius: 12px;
    fontweight: bold;
    text-align: center;
}
.explore-btn:hover{
    background-color: rgb(36, 133, 68);
    color: white;
    border: 1px solid rgb(36, 133, 68);
}
/*styling for question and answer part*/
.container .reason{
    display: flex;
    position: relative;
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    box-shadow: 0 0 4px black;
}
.container .reason .question{
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 10px;
    top: 50px;
    background-color: rgb(19, 14, 37);
    z-index: 99;
    height: 50%;
}
.container .reason .question h2{
    text-align: center;
    color: #fff;
    font-size: 200%;
    word-wrap: break-word;
}
.container .reason .question::after{
    position: absolute;
    content: "";
    width: 10%;
    height: 50%;
    right: -20px;
    top: 25px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: rgb(19, 14, 37);
    float: left;
    z-index: -1;
}
.container .reason .answer{
    position: relative;
    padding: 10px;
    margin-left: 50px;
}
.container .reason .answer ul li{
    list-style: none;
    padding: 10px;
    background-color: lightgrey;
    color: rgb(19, 14, 37);
    margin: 4px 0;
}
.container .rational{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial Black';
    font-style: italic;
    line-height: 1.5;
    padding: 20px;
}
.container .rational h3{
    font-size: 150%;
}
.container .rational p{
    font-size: 110%;
}

/*styling for prices part*/
.prices{
    display: flex;
    flex-direction: column;
    position: relative;
    display: block;
    height: auto;
    padding-bottom:10px; 
    background-color: lightgrey;
}
.prices h2{
    text-align: center;
    padding: 10px;
    color: rgb(19,14,37);
}
.prices .card-container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 10px auto;
    
}
.prices .card-container .block{
    position: relative;
    display: inline-block;
    margin: 0 4px;
    width: 30%;
    height: auto;
    padding: 10px;
    box-shadow: 0 0 4px black;
    float: left;
    color: rgb(19, 14, 37);
}
.prices .card-container .block h4{
    text-align: center;
    padding: 10px;
    color: rgb(36, 133, 68);
    font-weight: 700;
}
.prices .card-container .block p{
    font-size: 10pt;
    margin: 10px 0;
}
.prices .card-container .block table{
    font-size: 80%;
    text-align: left;
    margin-bottom: 20px;
}
.prices .card-container .block table th,td{
    padding: 4;
}
.prices .card-container .block table td{
    padding-left: 10px;
}
.prices .card-container .block table i{
    text-align: center;
    padding: 8px;
    color: rgb(35, 48, 223);
    font-size: 8pt;
}
.prices .card-container .block table .price{
    color: rgb(35, 48, 223)
}
.prices .card-container .block .explore-btn{
    position: relative;
    bottom: 0;
    display: block;
    width: 90%;
}

.prices .card-container .block h5{
    color: rgb(35, 48, 223);
}
.prices .card-container .block ol{
    margin-left: 30px;
    margin-bottom: 10px;
}
/* styling for footer*/

footer{
   position: relative; 
   height: auto;
   background-color: rgb(22, 12, 31);
   text-align: center;
   color: white;
}
footer .logo img{
    width: 15%;
    height: auto;
    padding: 20px;
}
footer .summary{
    width: 40%;
    margin: 0 auto;
}
footer .summary a{
    color: rgb(36, 133, 68);
}
footer .social-medias{
    padding: 20px;
}
footer .social-medias a i{
    font-size: 180%;
    color: rgb(133, 130, 130);
    padding: 0 10px;
}
footer .social-medias a i:hover{
    color: #fff;
}
footer .copyright p{
    position: relative;
    width: 100%;
    bottom: 0;
    background: rgba(36, 133, 68,.2);
    color: white;
    text-align: center;
    padding: 10px 0;
}




@media screen and ( max-width: 720px){
    
    header .first-banner{
        width: 100%;
    }
    .top-banner{
        flex-direction: column;
    }
    .top-banner img{
        width: 100%;
        height: auto;
    }
    .top-banner .context{
        width: 100%;
    }
    .services .block{
        width: 100%;
        height: auto;
    }
    .services .block img{
        height: auto;
    }
    .prices .card-container{
        flex-direction: column;
    }
    .prices .card-container .block{
        width: 100%;
    }

    footer .logo img{
        width: 30%;
        height: auto;
        padding: 20px;
    }
    footer .summary{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and ( max-width: 468px){
    .contact-container .contacts span{
        display: block;
    }
    header .first-banner{
        width: 100%;
    }
    .container .reason{
        display: block;
        width: 100%;
        height: auto;
    
    }
    .container .reason .question{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 0;
    }
    .container .reason .question::after{
        display: none;
    }
    .container .reason .answer{
        display: block;
        width: 100%;
        margin: 0;
    }
    footer .logo img{
        width: 50%;
        height: auto;
        padding: 20px;
    }
    footer .summary{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}