*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 a{
     text-decoration: none;
 }
/*styling for contact-container elements*/
.contact-container{
    display: block;
    padding: 10px;
}
.contact-container .contacts{
    display: inline;
    float: left;
}
.contact-container .contacts span{
    margin-right: 10px;
}
.contact-container .contacts i{
    padding-right: 4px;
}
.contact-container .contacts .fa-envelope{
    color: rgb(155, 19, 19);
}
.contact-container .contacts .fa-phone-volume{
    color: rgb(4, 224, 4);
}
.contact-container .social-medias{
    position: relative;
    display: inline;
    float: right;
    right: 20px;
}
.contact-container .social-medias a i{
    padding:0 10px;
}
.contact-container a,i{
    font: 14pt sans-serif;
}
/*styling for navigation bar*/
nav{
    position: sticky;
    display: block;
    height: auto;
    background-color: rgb(12, 3, 48);
    top: 0;
    z-index: 100;
}
nav .wrapper{
    position: relative;
    display: block;
}
nav .wrapper .logo{
    display: inline;
    float: left;
}
nav .wrapper .logo h1{
    color: white;
    font-size: 18pt;
    padding: 0 10px;
}
nav .wrapper .nav-links{
    display: inline;
    float: right;
    padding: 10px;
}
nav .wrapper .nav-links a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
    font-weight: 500;
    padding: 10px;
}

nav .wrapper .nav-links a:hover{
    background-color: rgb(19, 14, 37);
}
/*styling for header*/
header{
    position: relative;
    height: 500px;
    background-color: rgb(19, 14, 37);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    text-align: center;
    color: aliceblue;
}

header .scrollDownBtn a{
    position: absolute;
    bottom: 15px;
    left: 50%;
    color: white;
    border: 1px solid;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}



/* styling for main part*/
main{
    flex: 1 0 auto;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
}
.top-banner{
    display: flex;
    padding: 4px 20px;
}
.top-banner img{
    width: 50%;
    height: 400px;
}
.top-banner .context{
    width: 50%;
    padding: 20px;
}
.top-banner .context h1{
    color: rgb(19, 14, 37);
    font-size: 3em;
}
.top-banner .context span{
    color: rgb(102, 82, 82);
    font-weight: 400;
}
.top-banner .context p{
    margin: 4px;
    line-height: 1.5;
}
.top-banner .context ul{
    position: relative;
    margin-top: 20px;

}
.top-banner .context ul::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    width: 1px;
    height: 100%;
    background-color: grey;
    z-index: 1;
}
.top-banner .context ul li{
    position: relative;
    list-style-type: none;
    padding-left: 30px;
}
.top-banner .context ul li::before{
    content: '';
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: darkgoldenrod;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50%;
    
}
.top-banner .context ul li h4{
    display: inline;
    padding: 8px;
    color: darkgoldenrod
}
/*.container .context ul li::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    left: 0;
    background: rgb(19, 14, 37);
}*/
.services{
    position: relative;
    text-align: center;
    padding: 4px 20px;
}
.services h1{
    position: relative;
    text-align: center;
}

.services .block{
    position: relative;
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 10px;
    background: rgb(100, 100, 100);
    box-shadow: 2px 2px 12px grey;
    float: left;
}
.services .block img{
    width: 100%;
    height: 300px;
}
.services .block h4{
    color: rgb(19, 14, 37);
    
}
.explore-btn{
    display: inline-block;
    margin: 6px;
    padding: 10px;
    background: transparent;
    color: white;
    border: 1px solid ;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}
.explore-btn:hover{
    background-color: rgb(19, 14, 37);
    color: white;
    border: 1px solid rgb(19, 14, 37);
}
.prices{
    display: flex;
    flex-direction: column;
    position: relative;
    display: block;
    height: auto;
    padding-bottom:10px; 
    background-color: lightgrey;
}
.prices h2{
    text-align: center;
    padding: 10px;
    color: rgb(19,14,37);
}
.prices .card-container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 10px auto;
    
}
.prices .card-container .block{
    position: relative;
    display: inline-block;
    margin: 0 4px;
    width: 30%;
    height: auto;
    padding: 10px;
    background-color: rgba(12,17,18,.4);
    float: left;
    color: rgb(19, 14, 37);
}
.prices .card-container .block h4{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 700;
}
.prices .card-container .block p{
    font-size: 10pt;
    margin: 10px 0;
}
.prices .card-container .block table{
    font-size: 80%;
    text-align: left;
    margin-bottom: 20px;
}
.prices .card-container .block table tr:nth-child(odd){
    color: goldenrod;
}
.prices .card-container .block table th,td{
    padding: 0 6px;
    font-size: 90%;
}
.prices .card-container .block table td{
    padding-left: 10px;
}
.prices .card-container .block table i{
    text-align: center;
    width: 20px;
    color: rgb(35, 48, 223);
}
.prices .card-container .block table .price{
    color: rgb(35, 48, 223)
}
.prices .card-container .block .explore-btn{
    display: block;
    width: 90%;
}
.prices .card-container .block .explore-btn:hover{
    background-color: rgb(35, 48, 223);
    color: #fff;
    border-color: #fff;
}
.prices .card-container .block h5{
    color: rgb(35, 48, 223);
}
.prices .card-container .block ol{
    margin-left: 30px;
    margin-bottom: 10px;
}
/* styling for footer*/

footer{
   position: relative; 
   height: 200px;
   background-color: rgb(22, 12, 31);
}
footer p{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}