/*styling for sec-nav-bar*/
header .sec-nav-bar{
    position: relative;
    display: block;
    margin: 20vh auto;
}
@keyframes animate{
  0%{
    font-size: 0.25rem;
  }
  100%{
    font-size: 2rem;
  }
  
}
header .sec-nav-bar h1{
    padding: 20px;
    animation-name: animate;
    animation-duration: 2s;
    animation-play-state: running;
    animation-timing-function: ease-in;
}
header .sec-nav-bar .sec-nav-links{
    display: block;
    margin: 5vh auto;
    transition: all 2s;
}
/*header .sec-nav-bar .sec-nav-links span{
    width: 0;
    z-index: -99;
    padding: 10px;
    border-radius: 18px;
    
    -webkit-transition: width 2s;
    transition: width 2s;
}*/
header .sec-nav-bar .sec-nav-links a{
    display: inline-block;
    float: left;
    padding: 10px;
    margin: 4px;
    color: rgb(60, 197, 106);
    border: 1px solid rgb(60, 197, 106);
    border-radius: 18px;
    font-weight: bold; 
    -webkit-transition: background-color .2s;
    transition: background-color .2s;  
}

header .sec-nav-bar .sec-nav-links a:hover{
    color: white;
    background-color: rgb(60, 197, 106);
}
.content-wrapper .service{
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 6px 0;
  background-color: whitesmoke;
  line-height: 1.5;
}
.content-wrapper .service:target{
  position: relative;
  top: 0;
  box-shadow: 0 0 12px #000;
  transition: all 2s;
}
.content-wrapper .service h2{
  text-align: center;
  color: #1C783F;
}
.content-wrapper .service .context{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}
.content-wrapper .service p{
  display: block;
  width: 100%;
  position: relative;
  padding-left: 30px;
  margin: 6px 0;
}
.content-wrapper .service p::first-letter{
  color: #1C783F;
  font-size: 14pt;
}
.content-wrapper .service p::before{
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #1C783F;
  left: 0;
}
.content-wrapper .service .images{
  display: block;
  width: 100%;
  margin: 0 auto;
}

.content-wrapper .service img{
  display: inline-block;
  width: 50%;
  height: 400px;
  float: left;

}
.content-wrapper #email{
  color: rgb(199, 61, 61);
  border-color: rgb(199, 61, 61);
}
.content-wrapper #email:hover{
  background-color: rgb(199, 61, 61);
  border-color: rgb(199, 61, 61);
  color: #fff;
}




/* styling for about.html page*/
.content-wrapper .about{
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 8px 0;
  background-color: whitesmoke;
}
.content-wrapper .about:target{
  position: relative;
  top: 0;
  box-shadow: 0 0 12px #000;
  transition: all 2s;
}
.content-wrapper .about .heading{
  border: transparent;
  border-top: 2px solid grey;
  text-align: center;
}
.content-wrapper .about .heading legend{
  color: #1C783F;
  padding: 4px 10px;
}



@media screen and (max-width: 360px) {
  .content-wrapper .service img{
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .content-wrapper .service img{
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 720px) {
  .content-wrapper .service img{
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}